<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.0.7326.0">
	<connectionStrings>
		<add connectionString="data source=WORKSTATION-CMB\SQLEXPRESS;Integrated Security=SSPI;initial catalog=Sitefinity" name="Sitefinity" />
	</connectionStrings>
</dataConfig>