<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.0.7326.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="D235AB7EBC3D85F98D8A8A9EC22C304A0F58BDBA420A6D770CC80CA10A7A526C2A7F26A969FBD13AD89725B6AEE58951B42AA374D5A43362E06C21E2B69A03E7" decryptionKey="6FCDAC9B925117CAA060FD2B0F0EF443177EEC9AF3028CD6B9339C205A037922" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="AE05A07C1CCA3EEBD4DF88BC042D3AFB56C14C441BDFC22B9CCFC2362CBB8B40" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="AE05A07C1CCA3EEBD4DF88BC042D3AFB56C14C441BDFC22B9CCFC2362CBB8B40" realm="http://localhost" />
	</relyingParties>
</securityConfig>